<div class="container-fluid visible-lg visible-md">
    <div class="row">
        <div class="preview-area">
            <div class="container-fluid">
                <div class="col-md-6 portrait-square">
                    <h2 class="text-center">Portrait
                    <br>
                    Here</h2>
                </div>
                <div class="intro-text-area col-md-offset-1 col-md-3">
                    <p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, vero, excepturi, corporis enim cumque officiis harum ad iste voluptatibus iusto ut accusamus inventore pariatur nobis quos earum atque ullam? Recusandae officia nostrum ipsa aliquam non itaque excepturi!
                    </p>
                </div>
                <div class="testimonial-area pull-right col-md-4">
                    <blockquote class="blockquote-reverse">
                        <p class="testimonial-text">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, expedita, ipsam, reiciendis eum dolore beatae fugiat eos laboriosam minus fuga accusantium. Necessitatibus, obcaecati voluptates corporis!"</p>
                        <footer>Joe Potato, <cite title="Source Title">Satisfied Client</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>