<div class="container-fluid">
    <div class="row">
        <div class="preview-area">
            <div class="container">
                <div class="portrait-square">
                    <h2 class="text-center">Portrait
                    <br>
                    Here</h2>
                </div>
            </div>
        </div>
    </div>
</div>