<div class="new-page"></div>
<div class="container-fluid visible-lg visible-md">
    <div class="row">
        <div class="preview-area">
            <div class="container-fluid">
                <div class="col-md-6 portrait-square">
                    <h2 class="text-center">Portrait
                    <br>
                    Here</h2>
                </div>
                <div class="intro-text-area col-md-offset-1 col-md-3">
                    <p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, vero, excepturi, corporis enim cumque officiis harum ad iste voluptatibus iusto ut accusamus inventore pariatur nobis quos earum atque ullam? Recusandae officia nostrum ipsa aliquam non itaque excepturi!
                    </p>
                </div>
                <div class="testimonial-area pull-right col-md-4">
                    <blockquote class="blockquote-reverse">
                        <p class="testimonial-text">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, expedita, ipsam, reiciendis eum dolore beatae fugiat eos laboriosam minus fuga accusantium. Necessitatibus, obcaecati voluptates corporis!"</p>
                        <footer>Joe Potato, <cite title="Source Title">Satisfied Client</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="butterfly"></div>
</div>
<div class="container-fluid">
    <div class="row mobile-padding visible-sm visible-xs">
    </div>
    <div class="row blog">
        <div class="post-preview">
            <div class="title-area col-md-12 col-sm-12 col-xs-12 text-center">
                <h2 class="post-title">
                    10 Steps To Your Next Raise
                </h2>
                <h3 class="subheading">
                    And Other Value-Proving Tips
                </h3>
            </div>
            <div class="time-date pull-right col-md-4 col-sm-5 col-xs-5 text-center">
                <p class="timecode">dd/mm/yyyy,  00:00am</p>
            </div>
            <div class="content-wrapper">
                <p class="post-content">
                    Lorem ipsum dolor sit amet, sed ut mucius alienum expetendis. Omnium sensibus imperdiet no per, ea mei autem utinam fabulas. In est iuvaret appellantur mediocritatem. No ius alia iusto scriptorem, ei pri diam meis persius, eius convenire explicari ex nec. Id suas expetendis definitiones mea, est vide tibique ex, veri democritum at cum. Ex mei zril admodum volumus, populo gubergren honestatis eum ut, ius ad dicat accusata.
                    Ei urbanitas posidonium mel. Qui inimicus intellegebat mediocritatem te. Corpora consequuntur in mel. Voluptatum theophrastus eum te. Mei ne esse legimus omnesque. Dolore consulatu an sit, pro et labitur vivendum interesset, sed eu viris hendrerit eloquentiam.
                    <br>
                    <br>
                    Soleat civibus similique mea te, ei essent vocent persequeris has. Purto oporteat constituto mei te, has ex elit everti fierent, per soluta praesent no. Pri fuisset tacimates te. Primis feugait perfecto et vix.
                    <br>
                    Mea natum tritani et. Mutat offendit forensibus in usu, mea an altera accusam reprehendunt. Paulo vulputate at sed. Id esse deseruisse argumentum mea, ea semper oblique usu.
            </p>
            </div>
            <div class="read-more col-centered-readmore">
                <h2 class="read-more-text text-center">Read More</h2>
            </div>
        </div>
        <div class="post-preview">
            <div class="title-area col-md-12 col-sm-12 col-xs-12 text-center">
                <h2 class="post-title">
                    10 Steps To Your Next Raise
                </h2>
                <h3 class="subheading">
                    And Other Value-Proving Tips
                </h3>
            </div>
            <div class="time-date pull-right col-md-4 col-sm-5 col-xs-5 text-center">
                <p class="timecode">dd/mm/yyyy,  00:00am</p>
            </div>
            <div class="content-wrapper">
                <p class="post-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, porro, sint sit sed possimus voluptatum vero fuga atque esse eveniet excepturi consequatur labore rem tempore deserunt mollitia quisquam ipsum minima. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, praesentium vero possimus. Laborum, facere, iure sequi sint neque ad magni dolore. Quas, provident, suscipit velit necessitatibus at saepe enim! Mollitia! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, adipisci, quos delectus ipsa in odit consequuntur dolorum voluptas quo possimus iure blanditiis explicabo! Dignissimos magni enim excepturi voluptatum quisquam atque! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, dicta eaque autem nemo eligendi explicabo ipsum. Ex, incidunt pariatur magnam praesentium repudiandae blanditiis eum perferendis qui voluptate quam iusto possimus...
            </p>
            </div>
            <div class="read-more col-centered-readmore">
                <h2 class="read-more-text text-center">Read More</h2>
            </div>
        </div>
        <div class="post-preview">
            <div class="title-area col-md-12 col-sm-12 col-xs-12 text-center">
                <h2 class="post-title">
                    10 Steps To Your Next Raise
                </h2>
                <h3 class="subheading">
                    And Other Value-Proving Tips
                </h3>
            </div>
            <div class="time-date pull-right col-md-4 col-sm-5 col-xs-5 text-center">
                <p class="timecode">dd/mm/yyyy,  00:00am</p>
            </div>
            <div class="content-wrapper">
                <p class="post-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, porro, sint sit sed possimus voluptatum vero fuga atque esse eveniet excepturi consequatur labore rem tempore deserunt mollitia quisquam ipsum minima. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, praesentium vero possimus. Laborum, facere, iure sequi sint neque ad magni dolore. Quas, provident, suscipit velit necessitatibus at saepe enim! Mollitia! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, adipisci, quos delectus ipsa in odit consequuntur dolorum voluptas quo possimus iure blanditiis explicabo! Dignissimos magni enim excepturi voluptatum quisquam atque! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, dicta eaque autem nemo eligendi explicabo ipsum. Ex, incidunt pariatur magnam praesentium repudiandae blanditiis eum perferendis qui voluptate quam iusto possimus...
            </p>
            </div>
            <div class="read-more col-centered-readmore">
                <h2 class="read-more-text text-center">Read More</h2>
            </div>
        </div>
        <div class="post-preview">
            <div class="title-area col-md-12 col-sm-12 col-xs-12 text-center">
                <h2 class="post-title">
                    10 Steps To Your Next Raise
                </h2>
                <h3 class="subheading">
                    And Other Value-Proving Tips
                </h3>
            </div>
            <div class="time-date pull-right col-md-4 col-sm-5 col-xs-5 text-center">
                <p class="timecode">dd/mm/yyyy,  00:00am</p>
            </div>
            <div class="content-wrapper">
                <p class="post-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, porro, sint sit sed possimus voluptatum vero fuga atque esse eveniet excepturi consequatur labore rem tempore deserunt mollitia quisquam ipsum minima. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, praesentium vero possimus. Laborum, facere, iure sequi sint neque ad magni dolore. Quas, provident, suscipit velit necessitatibus at saepe enim! Mollitia! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, adipisci, quos delectus ipsa in odit consequuntur dolorum voluptas quo possimus iure blanditiis explicabo! Dignissimos magni enim excepturi voluptatum quisquam atque! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, dicta eaque autem nemo eligendi explicabo ipsum. Ex, incidunt pariatur magnam praesentium repudiandae blanditiis eum perferendis qui voluptate quam iusto possimus...
            </p>
            </div>
            <div class="read-more col-centered-readmore">
                <h2 class="read-more-text text-center">Read More</h2>
            </div>
        </div>
    </div>
</div>