<div class="container-fluid">
    <div class="row">
        <div class="resource-title-sm visible-sm visible-xs col-sm-12 col-xs-12 text-center">
            <h2>Free & Premium Resources</h2>
            <h3>Download Resume Templates & More</h3>
        </div>
        <div class="resource-title visible-lg visible-md col-md-12 text-center">
            <h2>Free & Premium Resources</h2>
            <h3>Download Resume Templates & More</h3>
        </div>
    </div>
    <div class="row">
        <div class="freebies-list">
            <div class="list-wrapper col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                <h4 class="freebie-title">1. General Purpose #1 - Clean/Simple</h4>
                <p class="freebie-description">General purpose resume template intended for entry-level or temp positions. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, aperiam quo possimus quisquam saepe magnam tempore sed suscipit illo explicabo dolores ut cupiditate modi assumenda fuga temporibus similique voluptate quasi!</p>
                <div class="template-preview">
                    <%=image_tag("Template1-lowres.jpg", class:"tempreview center-block") %>
                </div>
                <div class="list-barrier center-block"></div>
            </div>
            <div class="list-wrapper col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                <h4 class="freebie-title">2. General Purpose #2 - Professional</h4>
                <p class="freebie-description">General purpose resume template intended for entry-level or temp positions. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, aperiam quo possimus quisquam saepe magnam tempore sed suscipit illo explicabo dolores ut cupiditate modi assumenda fuga temporibus similique voluptate quasi!</p>
                <div class="template-preview">
                    <%=image_tag("Template2-lowres.jpg", class:"tempreview center-block") %>
                </div>
                <div class="list-barrier center-block"></div>
            </div>
        </div>
    </div>
</div>