<div class="container-fluid">
    <div class="row">
        <div class="resource-title-sm visible-sm visible-xs col-sm-12 col-xs-12 text-center">
            <h2>Free & Premium Resources</h2>
            <h3>Download Resume Templates & More</h3>
        </div>
        <div class="resource-title visible-lg visible-md col-md-12 text-center">
            <h2>Free & Premium Resources</h2>
            <h3>Download Resume Templates & More</h3>
        </div>
    </div>
</div>