/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
    background-color: #FDFDFD;
}

.container-fluid {
    padding: 0px;
}

.navbar {
  height: 35px;
  margin-bottom: 0px;
  min-height: 25px !important;
  box-shadow: 0px 1px 3px #888888;
}

.navbar-left {
    padding-left: 160px;
}

.navbar-right {
    padding-right: 160px;
}

.navbar-nav > li > a {
  padding-top: 7px !important; 
  padding-bottom: 0px !important;
}

.navbar-default {
  background-color: #00629e;
}

.navbar-fixed-top {
  border-width: 0 0 0px;
}

.nav > li > a {
  padding-right: 30px;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
    &:hover {
        color: #d9e6ee;
    }
    &:collapse {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: #d9e6ee;
    }
}

.navbar-default .navbar-toggle .icon-bar {
  margin-top: 2px;
  background-color: white;
  height: 2px;
}

.navbar-default .navbar-toggle {
  padding-top: 5px;
  margin-top: 3px;
  border: 2px solid white;
  height: 28px;
  &:hover, &:focus {
    background-color: #d9e6ee;
  }
}

.nav-element {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.col-centered{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}

.circle-nav-element {
  position: fixed;
  z-index: 9999;
  margin-top: -50px;
  width: 130px;
  height: 130px;
  background: #00629e;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-image: url(adonis-flat.png);
  background-position: 50% 89%;
  background-repeat: no-repeat; 
}

.circle-nav-element-bottom {
  position: fixed;
  margin-top: -50px;
  width: 130px;
  height: 130px;
  background: #00629e;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0px 2px 3px #888888;
}

.preview-area {
    height: 300px;
    background-color: #d9e6ee;
    border-bottom: 2px solid #999999;
}

.small-testimonial {
    height: 100px;
    background-color: #d9e6ee;
    border-bottom: 2px solid #999999;
}

.portrait-square {
    height: 180px;
    width: 30%;
    max-width: 180px;
    margin-top: 75px;
    background: #999999;
    margin-left: 50px;
}

.portrait-square h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    padding-top: 45px;
    color: #FFFFFF;
}

.intro-text-area {
    margin-top: 90px;
    margin-left: 20px;
}

.intro-text {
    font-family: 'Rasa', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
}

.testimonial-area {
    margin-top: 90px;
    margin-right: 100px;
}

.blockquote-reverse, blockquote.pull-right {
    border-right: 5px solid #00629e;
}

.testimonial-text {
    font-family: 'Rasa', serif;
    font-weight: 500;
    font-size: 19px;
    line-height: 110%;
}

//Navbar Collapse Breakpoint
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}