/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
    background-color: #FDFDFD;
}

//font sizes

@media screen and (max-width: 700px) {
    body {
        font-size: 2em;
    }
}

@media screen and (min-width: 701px) {
    body {
        font-size: 1.8em;
    }
}

@media screen and (min-width: 992px) {
    body {
        font-size: 1em;
    }
}

.container-fluid {
    padding: 0px;
}

.navbar {
  z-index: 9996;
  height: 35px;
  margin-bottom: 0px;
  min-height: 25px !important;
  box-shadow: 0px 1px 3px #888888;
}

.navbar-left {
    padding-left: 140px;
}

.navbar-right {
    padding-right: 160px;
}

.navbar-nav > li > a {
  padding-top: 7px !important; 
  padding-bottom: 0px !important;
}

.navbar-default {
  background-color: #00629e;
}

.navbar-fixed-top {
  border-width: 0 0 0px;
}

.nav > li > a {
  padding-right: 15px;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
    &:hover {
        color: #d9e6ee;
    }
}

.nav-left-group {
    padding-right: 70px;
}

.nav-right-group {
    padding-left: 70px;
}

.navbar-default .navbar-toggle .icon-bar {
  margin-top: 2px;
  background-color: white;
  height: 2px;
}

.navbar-default .navbar-toggle {
  padding-top: 5px;
  margin-top: 3px;
  border: 2px solid white;
  height: 28px;
  &:hover, &:focus {
    background-color: #d9e6ee;
  }
}

.nav-element {
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
}

.col-centered{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}

.col-centered-readmore {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.circle-nav-element {
  position: fixed;
  z-index: 9999;
  margin-top: -48px;
  width: 130px;
  height: 130px;
  background: #00629e;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-image: url(adonis-flat-hr.png);
  background-position: 50% 89%;
  background-repeat: no-repeat; 
}

.circle-nav-element-bottom {
  position: fixed;
  margin-top: -48px;
  width: 130px;
  height: 130px;
  background: #00629e;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0px 2px 3px #888888;
}

.circle-nav-element-sm {
    position: fixed;
    z-index: 9999;
    margin-top: 15px;
    width: 90px;
    height: 90px;
    background: #4B4B4B;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-image: url(adonis-flat-tp.png);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 0.2s linear;
    &.active {
        opacity: 0.4; 
    }
}

.preview-area {
    height: 300px;
    background-color: #d9e6ee;
    border-bottom: 2px solid #999999;
}

.butterfly {
    margin-top: -55px;
    margin-left: 60%;
    height: 100px;
    width: 105px;
    background-image: url(butterfly-image.png);
    background-repeat: no-repeat; 
}

.small-testimonial {
    height: 100px;
    background-color: #d9e6ee;
    border-bottom: 2px solid #999999;
}

.portrait-square {
    height: 180px;
    width: 30%;
    max-width: 180px;
    margin-top: 75px;
    background: #999999;
    margin-left: 50px;
}

.portrait-square h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    padding-top: 40px;
    color: #FFFFFF;
}

.intro-text-area {
    color: #00629e;
    margin-top: 80px;
    margin-left: 20px;
}

.intro-text {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
    text-align: center;
}

.testimonial-area {
    margin-top: 90px;
    margin-right: 100px;
}

.blockquote-reverse, blockquote.pull-right {
    border-right: 5px solid #00629e;
}

.testimonial-text {
    font-family: 'Rasa', serif;
    font-weight: 500;
    font-size: 19px;
    line-height: 110%;
}

//Navbar Collapse Breakpoint
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

//Blog


.post-preview {
    margin-top: 10px;
    padding-top: 90px;
    padding-bottom: 70px;
    border-bottom: solid 2px #DDDDDD;
}

.mobile-padding {
    margin-top: 70px;
}

.title-area {
    margin-top: -70px;
}

.post-title {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.subheading {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: -6px;
}

.timecode {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: -30px;
    color: #00629e;
}

.content-wrapper {
    margin-top: 10px;
    padding-top: 14px;
    padding-bottom: 1px;
    background-color: rgba(217, 230, 238, 0.5);
}

.post-content {
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Rasa', serif;
    font-weight: 400px;
    font-size: 17px;
    line-height: 110%;
    color: #333333;
    text-indent: 30px;
}

.read-more {
    width: 90px;
    height: 30px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #00629e;
}

.read-more-text {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 8px;
}

.sm-menu-bar {
    display: none;
    z-index: 9998;
    position: fixed;
    margin-top: 38px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 1px 3px #AAAAAA;
}

#sm-menu {
    padding-top: 10px;
}

#sm-menu a {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: #444444;
}

.resource-title, .resource-title-sm {
    margin-top: 120px;
    background-color: #d9e6ee;
    height: 70px;
}

.resource-title h2, .resource-title-sm h2 {
    margin-top: 8px;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 28px;
}

.resource-title h3, .resource-title-sm h3 {
    margin-top: -8px;
    font-family: 'Rasa', serif;
    font-weight: 500;
    font-size: 20px;
}