<!DOCTYPE html>
<html>
  <head>
    <title>Adonis</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Rasa:400,600|Ubuntu:400,500" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="nav">
          <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="/" class="navbar-brand"></a>
            </div>
            <div class="collapse navbar-collapse" id="main-nav-collapse">
              <ul class="nav navbar-nav navbar-left">
                <li class="nav-element"><a href="/blog">Blog</a></li>
                <li class="nav-element"><a href="/resources">Resources</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="nav-element"><a href="/about">About Me</a></li>
                <li class="nav-element"><a href="/contact">Contact</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </nav>
          <div class="circle-nav-element col-centered">
          </div>
          <div class="circle-nav-element-bottom col-centered">
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
